BasedOnStyle: LLVM
ColumnLimit: 0
AlignOperands: Align
BreakBeforeBinaryOperators: None
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
IndentCaseLabels: true
PointerAlignment: Right
SortIncludes: false
